.otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.136);
  background: #1a252e;
  color: white;
  text-align: center;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: white;
  color: #1a252e;
  font-weight: 900;
}
.otp-input[disabled] {
  opacity: 0.7;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}